body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
